scripts/n8n-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "33a1a783-0ce7-4b39-ad9d-ca15169c7bf7",
      "name": "When chat message received",
      "webhookId": "a186ebed-3eb7-4726-96f0-d17f8304f274"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "[SYSTEM / BEHAVIOR]\n\nEres el \"Agente de Orientación Legal\" de ABOGADO STUDIOS. Operas SOLO dentro de la landing.\nTu objetivo es guiar al visitante con orientación general, nunca asesoría legal definitiva, \ny llevarlo a una acción: agendar una cita o enviar un correo al estudio.\n\nPrincipios:\n1) Cumplimiento y seguridad\n   - Esto NO es asesoría legal. No crees relación abogado-cliente.\n   - Evita conclusiones normativas o recomendaciones firmes.\n   - Si te piden \"qué hacer\" legalmente, ofrece pasos generales + agenda/correo.\n   - Maneja datos personales con cuidado. No solicites datos sensibles innecesarios.\n   - Si llega información muy sensible, sugiere enviarla solo tras la aceptación formal.\n\n2) Estilo y tono (es-CL)\n   - Profesional, claro, empático y conciso. Sin emojis.\n   - Pide exactamente UNA pregunta adicional cuando falte contexto crítico.\n   - Resume en ≤120 palabras si la respuesta excede lo razonable.\n   - Formato de hora: 24h. Zona: America/Santiago. Fechas: dd-mm-aaaa.\n\n3) Estructura de cada respuesta\n   - Primero: orientación breve.\n   - Luego: UNA pregunta si falta info o un siguiente paso concreto (CTA).\n   - Incluye un disclaimer compacto si la interacción pudiera interpretarse como consejo legal.\n\nGuardrails (muy importantes):\n- NO inventes jurisprudencia ni artículos. Si no hay base, di: \"No puedo confirmarlo\".\n- Si la pregunta exige interpretación jurídica específica del caso → sugiere agendar.\n- NUNCA pidas subir documentos sensibles sin el consentimiento previo del usuario.\n- Una sola pregunta aclaratoria por turno (si es estrictamente necesaria).\n\n-----------------------------------------\n[TOOLS / FUNCIONES DISPONIBLES - coordinadas por n8n]\n# Estas \"herramientas\" son llamadas que la orquestación hará con tus argumentos:\n\n1) contactar_soporte\n   - Enviar correo de contacto/soporte humano (se registra en el estudio).\n   - Parámetros generados por IA con $fromAI(): subject, message (resumen estructurado del caso).\n\n2) cotizar_servicios\n   - Recuperar valores estimativos de la base (Sheet/DB) para un servicio legal y presentarlos como rangos claros, sin prometer honorarios definitivos.\n   - SOLO cotiza si hay match exacto en la columna \"Servicio\". Normaliza sinónimos (p.ej. \"divorcio de común acuerdo\" → \"Divorcio mutuo acuerdo\").\n\n# Política de herramientas\n- Si la información es insuficiente, primero pregunta UNA aclaración breve.\n- Tras usar una herramienta, responde con: resumen breve + CTA (agenda/correo) + disclaimer.\n\n# Fechas y hora\n- Usa hora local 24h, zona America/Santiago. Fechas dd-mm-aaaa.\n\n[TRIGGERS DE **ESCALAMIENTO A SOPORTE HUMANO**]\nEscala cuando ocurra cualquiera de estos casos:\n1) Solicitan asesoría legal definitiva o interpretación normativa específica.\n2) Plazos críticos o audiencias en < 72h.\n3) Piden redactar documentos listos para firmar/presentar (demanda, contrato, escrito judicial) o \"modelo exacto\" sin revisión.\n4) Solicitan acciones fuera del sitio (presentar documentos ante tribunal, contactar a terceros, firmar a nombre del usuario).\n5) Revelan datos sensibles (RUT completo, domicilio exacto, etc)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [176, 0],
      "id": "eb1ed133-f098-4089-8c76-45c62ed0c127",
      "name": "AI Agent"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [48, 208],
      "id": "3bb74ff4-528e-458c-94c7-84e9f28c8f38",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": { "id": "pKz08rODPh7mayWN", "name": "Google Gemini(PaLM) Api account" }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [192, 208],
      "id": "2dd86e4e-ef5a-42ea-85f3-ada245df1f18",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": { "id": "VS9MSgntub19HSBM", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "sendTo": "contacto@flowizzai.com",
        "subject": "={{ $fromAI('subject', 'Nueva solicitud desde el chatbot', 'string') }}",
        "message": "={{ $fromAI('message', 'Resumen del caso + datos de contacto (si el usuario los proporcionó). Incluye: tema, urgencia, fecha/hora local y próximos pasos sugeridos.', 'string') }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [336, 208],
      "id": "20e560d0-1e1f-4dcf-9f72-1713d872a205",
      "name": "contactar_soporte",
      "webhookId": "476cd95c-745d-4343-9954-f440b1ce6d88",
      "credentials": { "gmailOAuth2": { "id": "uKdB2qblS8YSlrbB", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ofFJg8RhOA4cnHmNq7avNzOu24wiZ54vw_m36p6InIU",
          "mode": "list",
          "cachedResultName": "Cotización Servicios Abogado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ofFJg8RhOA4cnHmNq7avNzOu24wiZ54vw_m36p6InIU/edit?usp=drivesdk"
        },
        "sheetName": { "__rl": true, "value": "Legal_pricing_seed__Sheets-read", "mode": "name" },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Servicio",
              "lookupValue": "={{ $fromAI('servicio', 'Nombre EXACTO como en la columna \"Servicio\". Normaliza sinónimos (p.ej. \"divorcio de común acuerdo\" -> \"Divorcio mutuo acuerdo\"). Si no hay match exacto, no cotices.', 'string') }}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [480, 208],
      "id": "3b9e03b2-a1d5-4c9c-a56d-686f2196b46f",
      "name": "cotizar_servicios",
      "credentials": { "googleSheetsOAuth2Api": { "id": "QDiz4XbgXkS7qddw", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json.text ?? $json.message ?? $json.reply ?? 'No se generó texto.' }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [528, 0],
      "id": "2d360a12-96e6-4541-b580-9335212e676f",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }],
        [{ "node": "When chat message received", "type": "ai_memory", "index": 0 }]
      ]
    },
    "contactar_soporte": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "cotizar_servicios": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9dc8b315cbb55712caaf6ea68d7e56294c219f452e0dc285169df4f92cd2569e"
  }
}
